<%= link_to "overview", diffs_path %>
<h1><%= @diff.title %></h1>

<%= link_to 'Delete Diff', diff_path(@diff),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>

<details>
  <summary>raw source</summary>
  <pre><%= @diff.source %></pre>
</details>

<pre>
  <% @diff.diff_lines.each do |line| %>
(<%= line.index %>) (<%= line.type %>) <%= line.text %>
  <% end %>
</pre>

<h2>Comments</h2>
<h3>Add comment</h3>

<hr>
<%= form_with model: [@diff, @new_comment] do |f| %>
  <div>
    Author: <%= f.collection_select(:author_id, User.all, :id, :name, {prompt:false}) %>
  </div>
  <div>
    Body: <%= f.text_area :body %>
  </div>
  <div>
    Hunk: <%= f.select(:hunk,  options_for_select(@diff.hunks)) %>
  </div>
  <div>
    Line: <%= f.text_field :line %>
  </div>
  <div>
    <% Comment.sides.keys.each do |side| %>
      <%= f.radio_button :side, side %>
      <%= f.label "#{:side}_#{side.parameterize.underscore}", side.humanize %>
    <% end %>

  </div>
  <%= f.submit "Add Comment" %>
<% end %>

<% @diff.comments.each do |comment| %>
  <div class="comment">
    <h3><%= comment.author.name %></h3>
    <span>Hunk <%= comment.hunk %></span>
    <p>Position <%= comment.line %> (<%= comment.side %>)</p>
    <p><%= comment.body %></p>


    <%= link_to 'Delete', diff_comment_path(@diff, comment),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
